html body {
  height: 100%;
  background-color: black;
  color: white;
  align-content: center;
  margin: 0;
  padding: 0;
}

.container {
  /* position:absolute; */
  /* margin: 10px auto; */
  /* border: 1px rgb(255, 132, 199) solid; */
  width: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items:center;
  
}

.sketchholder {
  /* padding: 10px; */
  display: flex;
  background-color: rgb(170, 0, 43);
  border: 10px rgb(229, 255, 0) double;
  width: 450px;
  height: 450px;
  justify-content: center;
  align-items:center;
}

#sketch {
  /* margin: 10px; */
  width:400px;
  height: 400px;
  border: 2px solid rgb(229, 255, 0);

}


